*{
    padding: 0%;
    margin: 0%;
   
}

.container{
    height: 100vh;
    padding-left: 1%;
    padding-right: 6%;
    background-image: url(images/dubai-marina-at-night-united-arab-emirates-uhd-4k-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    
   
    
  
    
   

}


.navbar{
    display: flex ;  /* Yan yana koymayı sağlar */
    justify-content: space-between; /* En sağa atar */
    align-items: center; /* Menüdeki yazıyı sayfaya biraz ortalar */
    height: 12%;  /* Menudekı yazıların kapladığı alan */
}

nav ul{

    list-style-type: none;
    display: flex;
    column-gap: 18px;
    


}


nav ul li a {

    color: white;
    text-decoration:none; /* Yazının altındaki çizgiyi kaldırır */
    transition: ease 0.7s; /* Yazıdaki hoverın efekti */

}

nav ul li a:hover {
    color: black;
}


h1{
    font-size: 50px;
    color: white;
    
    
}

h2{
    font-size: 40px;
    color: white;
 

}

.col{
    flex-basis: 50%;
   
}

.row{
    display: flex;
    align-items: center;
    column-gap: 12px;
    height: 65%;

}

p{
    font-size: 25px;
    color: white;
    
}

.description{
    font-size: 22px;
    margin-bottom: 75px;
    
}

#desc2{
    font-size: 22px;
}

